---
import Layouts from "../layouts/Layout.astro";
import SpecialButton from "../components/specialButtons/SpecialButton";

const title = "Components";
---

<style lang="scss">

</style>

<Layouts title={title}>
  <h1>{title}</h1>
  <p>Hey Im on components</p>
  <SpecialButton client:load>Click me</SpecialButton>
</Layouts>
