---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.jsx";
import Services from "../components/Services.astro";
import DetailPassion from "../components/DetailPassion.astro";
import ContactUs from "../components/ContactUs.astro";
import AboutUs from "../components/AboutUs.astro";
import { Image } from "@astrojs/image/components";

import logo from "/public/images/logo.png";

import { getSanityContent, getSanityImageUrl } from "../utils/helpers.js";
import { website } from "../lib/api.js";
import BannerContactUs from "../components/BannerContactUs.astro";
const response = await getSanityContent({ query: website });
const websites = response.allWebsite;
const title = "template";
---

<Layout title={title}>
  <!-- {
    websites.map((website) => (
      <main>
        <h1 class="text-gradient">{website.title}</h1>
        <ul role="list" class="link-card-grid">
          <Card
            href="/contact"
            title="Contact Us"
            body="Tell us what you think"
          />
          <Card href="/components" title="Components" body="Enter Components" />
        </ul>
        <Image
          src={getSanityImageUrl(website.mainImage).width(1200).url()}
          width="720"
          height="420"
        />
      </main>
    ))
  } -->
  <header class="header">
    <Navbar client:load />
    <div class="header__logo_div">
      <div class="header__logo-box">
        <Image src={logo} class="header__logo" alt="Logo" />
      </div>
    </div>
  </header>
  <main>
    <Services />
    <DetailPassion />
    <AboutUs />
    <BannerContactUs />
    <ContactUs />
    <div class="map-responsive">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.690034724924!2d-81.38206088510947!3d19.295841186962207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f25871c55f741dd%3A0x201717cba3c0cdd5!2sThe%20Village!5e0!3m2!1ses!2shn!4v1667693149900!5m2!1ses!2shn"
        width="600"
        height="100"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </main>
</Layout>
<style lang="scss">
  @import "../styles/variables";
  @import "../styles/animations";
  @import "../styles/mixins";
  .map-responsive {
    overflow: hidden;
    @include media(mobile) {
      padding-bottom: 0;
      height: 200px;
    }
    @include media(tablet) {
      padding-bottom: 0;
      height: 200px;
    }
    @include media(desktop) {
      padding-bottom: 0;
      height: 300px;
    }

    position: relative;
  }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  }
  .header {
    height: 100vh;
    width: 100%;
    background-image: url(/public/images/header.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__logo_div {
      display: inline-block;
      width: 100%;
    }

    &__logo-box {
      @include media(mobile) {
        text-align: center;
        padding: 50px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
      @include media(tablet) {
        padding: 50px;
        text-align: center;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
      @include media(desktop) {
        position: absolute;
        top: 10rem;
        left: 8rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        padding: 0;
      }
    }

    &__logo {
      @include media(mobile) {
        width: 100%;
        height: 40vh;
      }
      @include media(tablet) {
        width: 60vw;
        height: 40vh;
      }
      @include media(desktop) {
        width: 100%;
        height: 30vw;
      }
    }
  }
</style>
