---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.jsx";
import Services from "../components/Services.astro";
import DetailPassion from "../components/DetailPassion.astro";
import AboutUs from "../components/AboutUs.astro";
import { Image } from "@astrojs/image/components";

import logo from "/public/images/logo.png";

import { getSanityContent, getSanityImageUrl } from "../utils/helpers.js";
import { website } from "../lib/api.js";
const response = await getSanityContent({ query: website });
const websites = response.allWebsite;
const title = "template";
---

<Layout title={title}>
  <!-- {
    websites.map((website) => (
      <main>
        <h1 class="text-gradient">{website.title}</h1>
        <ul role="list" class="link-card-grid">
          <Card
            href="/contact"
            title="Contact Us"
            body="Tell us what you think"
          />
          <Card href="/components" title="Components" body="Enter Components" />
        </ul>
        <Image
          src={getSanityImageUrl(website.mainImage).width(1200).url()}
          width="720"
          height="420"
        />
      </main>
    ))
  } -->
  <header class="header">
    <Navbar client:load />
    <div class="header__logo_div">
      <div class="header__logo-box">
        <Image src={logo} class="header__logo" alt="Logo" />
      </div>
    </div>
  </header>
  <main>
    <Services />
    <DetailPassion />
    <AboutUs />
  </main>
</Layout>
<style lang="scss">
  @import "../styles/variables";
  @import "../styles/animations";
  @import "../styles/mixins";
  .header {
    height: 100vh;
    width: 100%;
    background-image: url(/public/images/header.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__logo_div {
      display: inline-block;
      width: 100%;
    }

    &__logo-box {
      @include media(mobile) {
        text-align: center;
        padding: 50px;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
      @include media(tablet) {
        padding: 50px;
        text-align: center;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
      @include media(desktop) {
        position: absolute;
        top: 10rem;
        left: 8rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        padding: 0;
      }
    }

    &__logo {
      @include media(mobile) {
        width: 100%;
        height: 40vh;
      }
      @include media(tablet) {
        width: 60vw;
        height: 40vh;
      }
      @include media(desktop) {
        width: 100%;
        height: 30vw;
      }
    }
  }
</style>
