
---
---

<section class="hiring">
    <img src='/public/images/hiring.jpeg' alt="we are hiring" class="left" />
    <img src="/public/images/position.jpg" alt="position" class="right" />
</section>

<style lang="scss">
  @import "../styles/variables";
  @import "../styles/animations";
  @import "../styles/mixins";
  .hiring{
      display: flex;
      .left{
        flex: 33.33%;


  height: 300px;
      }
      .right{
        flex: 33.33%;

  height: 300px;
      }
    }
</style>
