---
import { Image } from 'astro:assets';
import hiring from '../images/hiring.jpeg'
import position from '../images/position.jpg'
---

<section class="hiring">
    <Image src={hiring} alt="we are hiring" class="left" />
    <Image src={position} alt="position" class="right" />
</section>

<style lang="scss">
  @import "../styles/variables";
  @import "../styles/animations";
  @import "../styles/mixins";
  .hiring{
      display: flex;
      .left{
        flex: 33.33%;


  height: 300px;
      }
      .right{
        flex: 33.33%;

  height: 300px;
      }
    }
</style>
