//  map holding breakpoint values
$breakpoints: (
  mobile: 0px,
  tablet: 426px,
  desktop: 768px,
);

//  mixin to print out media queries (based on map keys passed)
@mixin media($keys...) {
  @each $key in $keys {
    @media (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  }
}
