@import "./variables";
@import "./animations";
@import "./mixins";

h2 {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 100;
  @include media(mobile) {
    font-size: calc(10px + 0.390625vw);
  }
  @include media(desktop) {
    font-size: calc(19px + 0.390625vw);
  }
}
