// COLORS
$color-primary: #b29758;
$color-primary-light: #cfac5b;
$color-primary-dark: #7f6a39;

$color-secondary-light: #1f2565;
$color-secondary-dark: #191c40;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

//GRADIENTS
$gradient: linear-gradient(360deg, #b29758, #ffffff);
